<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;"><b>Forms | QWeb Reports</b></h2>
    <h3 class="oe_slogan">Generate (PDF) reports for every Form, in just a click</h3>
    <h3 class="oe_slogan"><small>Developed on the (Odoo) QWeb Reports engine</small></h3>
    <div class="oe_row">
      <h5>Installation Requirements</h5>
      <ul>
        <li>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          PyPi package <strong><code>formio-data</code> (version >= 0.3.11)</strong><br/>
=======
          PyPi package <strong><code>formio-data</code> (version >= 0.4.0)</strong><br/>
>>>>>>> upstream/13.0
=======
          PyPi package <strong><code>formio-data</code> (version >= 0.4.0)</strong><br/>
>>>>>>> upstream/12.0
=======
          PyPi package <strong><code>formio-data</code> (version >= 0.3.3)</strong><br/>
>>>>>>> upstream/11.0
=======
          PyPi package <strong><code>formio-data</code> (version >= 0.4.0)</strong><br/>
>>>>>>> upstream/14.0
          - Install: <code>pip3 install -U formio-data</code><br/>
          - GitHub project: <code>https://github.com/novacode-nl/python-formio-data</code>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">In just a click, generate and download a PDF-report for every Form.</h4>
      <h4 class="oe_mb16 text-center">Available report types:</h4>
      <ul>
        <li>
          <strong>Form - My preferences</strong><br/>
          PDF report with translastions (e.g. labels) in language of the logged in user.
        </li>
        <li>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> upstream/14.0
          <strong>Form - Partner preferences</strong><br/>
          PDF report with translastions (e.g. labels) in language of the partner (field) on the form.
        </li>
        <li>
<<<<<<< HEAD
          <strong>Form - Assigned user preferences</strong><br/>
          PDF report with translastions (e.g. labels) in language of the assigned user on the form.
=======
          <strong>Form - Assigned user preferences</strong><br/>
          PDF report with translastions (e.g. labels) in language of the assigned (form) user.
>>>>>>> upstream/11.0
=======
          <strong>Form - Assigned user preferences</strong><br/>
          PDF report with translastions (e.g. labels) in language of the assigned user on the form.
>>>>>>> upstream/14.0
        </li>
      </ul>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form_print_button.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Generic PDF report of Form (see below)</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form_pdf.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form.png">
    </div>
  </div>
</section>

<section class="oe_container">
<<<<<<< HEAD
  <div class="oe_row oe_spaced">
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form Builder - Configure custom QWeb Reports</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_builder_reports_config.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form - Click on the new button "Print Reports"</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form_print_reports_wizard_button.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form - Wizard window to print and/or save as attachment</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form_print_reports_wizard.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form - Multiple reports merged into one PDF file</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_form_print_reports_wizard_pdf_attachment.png">
    </div>
  </div>
</section>

<section class="oe_container">
=======
>>>>>>> upstream/11.0
  <div class="alert alert-info" style="padding:8px;font-weight:300;font-size:20px;">
    <i class="fa fa-hand-o-right"></i><b> Features & Benefits: </b>
    <ul class="list-unstyled">
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        <strong>Out-of-the-box</strong> generated PDF report, for <strong>every</strong> Form.
      </li>
      <li>
      	<i class="fa fa-check-square-o text-primary"></i>
        Generated report has <strong>identical layout</strong> as the form. Even for complex form designs.
      </li>
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        Fully <strong>QWeb customizable</strong> reports, regarding layout (fields, header etc.) and styling (CSS).
      </li>
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        <strong>Open source</strong>, so contributions are welcome.
      </li>
    </ul>
  </div>
<<<<<<< HEAD
</section>

<section class="oe_container mt-4">
  <div class="oe_row oe_centeralign mb32">
    <h2 class="oe_slogan" style="color:#875A7B;">Releases and Changelog</h2>
    <h5>
      <i class="fa fa-github"/> Changelog is available on the GitHub project<br/><br/>
<<<<<<< HEAD
      <code>https://github.com/novacode-nl/odoo-formio/blob/14.0/formio_report_qweb/CHANGELOG.md</code>
=======
      <code>https://github.com/novacode-nl/odoo-formio/blob/12.0/formio_report_qweb/CHANGELOG.md</code>
>>>>>>> upstream/12.0
    </h5>
    <h5 class="mt32">
      <i class="fa fa-github"/> Star or subscribe the GitHub project for notifications<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio</code>
    </h5>
  </div>
  <div class="oe_row oe_centeralign mb16">
    <h2 class="oe_slogan" style="color:#875A7B;">Visit the online Demo</h2>
    <h5>Click the <em>"Live Preview"</em> button in the top.</h5>
    <p class="mt8"><strong>Users</strong> (email / password)</p>
=======
  
  <div class="oe_row oe_centeralign mb16">
    <h4>Visit the online Demo (Odoo Community v13)</h4>
    <a href="https://demo13.novacode.nl/web/login" target="_blank" class="oe_button oe_big">Demo</a>
    <p class="mt8"><strong>Users</strong> (Email / Password)</p>
>>>>>>> upstream/11.0
    <ul>
      <li>demo / demo</li>
      <li>portal / portal</li>
    </ul>
  </div>
</section>
<<<<<<< HEAD
=======

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Releases</h2>
    <h4 class="oe_mb16">3.0</h4>
    <ul>
      <li>
        <strong>MAJOR IMPROVEMENT: "Simple" conditional visibility of components</strong>, by checking new property <code>component.is_visible</code>.<br/>
        Possible by recent improvements in the Python formiodata library (version: 0.3.3).<br/><br/>
        <em>This release is backwards incompatible for overrides/customizations of the following QWeb XML.</em><br/>
        Moved the visibility check:<br/>
        - From: <code>&lt;template id="report_formio_form_template"&gt; ... &lt;t t-if="component.hidden != True"&gt;</code><br/>
        - To: <code>&lt;template id="component"&gt; ... &lt;t t-if="component.is_visible"&gt;</code>
      </li>
    </ul>
    <h4 class="oe_mb16">2.0</h4>
    <ul>
      <li>
        <strong>MAJOR IMPROVEMENT: Rendering of nested components</strong> e.g. in datagrid, layout components.<br/>
        Possible by recent improvements in the Python formiodata library (version: 0.3.0).<br/>
        <em>This release is backwards incompatible (eg in case of implemented custom QWeb Reports which inherit from this QWeb XML).</em>
      </li>
      <li>
        Don't escape a component label (lets' trust this). This ensures the label (inner) HTML/styling shall be preserved in reports.
      </li>
    </ul>
    <h4 class="oe_mb16">1.1</h4>
    <ul>
      <li>
        Fix and re-implement components (file, content/html, table, tabs), got broken after recent changes in 2.0.
      </li>
      </ul>
    <h4 class="oe_mb16">1.0</h4>
    <ul>
      <li>
        Improves <strong>Rendering of nested components</strong> e.g. in datagrid, layout components.<br/>
        Possible by recent improvements in the Python formiodata library (version: 0.2.0).
      </li>
      <li>
        Improves <strong>datagrid component</strong> rendering.<br/>
        Possible by recent improvements in the Python formiodata library (version: 0.2.0).
      </li>
      <li>
        New <strong>datetime component</strong>
      </li>
      <li>
        Improve <strong>columns component</strong>:<br/>
        Complex columns/grids with identical layout (row wrapping ) as in the Form. For example 3 rows with specified column widths [[6,6], [12], [8, 4]].
      </li>
      <li>
        The <code>QWeb component (object)</code> now is the <code>Python formiodata Component</code> object, instead of a Dictionary <code>component['_object']</code>.<br/>
        <em>This release is backwards incompatible, in case of implemented custom QWeb Reports which inherit from this QWeb XML.</em>
      </li>
    </ul>
    <h4 class="oe_mb16">0.12</h4>
    <ul>
      <li>New <strong>radio (input) component</strong></li>
    </ul>
    <h4 class="oe_mb16">0.11</h4>
    <ul>
      <li>New <strong>datagrid component</strong></li>
      <li>Refactor component (object) loading/reader.</li>
    </ul>
    <h4 class="oe_mb16">0.10</h4>
    <ul>
      <li>New <strong>file upload component</strong> (storage: base64)</li>
    </ul>
    <h4 class="oe_mb16">0.9</h4>
    <ul>
      <li>Don't print/render <strong>hidden components</strong>.</li>
      <li>Smaller report header (h3 instead of h2).</li>
    </ul>
    <h4 class="oe_mb16">0.8</h4>
    <ul>
      <li>Avoid rendering/printing of file component (no image, without diplaying).</li>
    </ul>
    <h4 class="oe_mb16">0.7</h4>
    <ul>
      <li>New layout components: <strong>tabs, table</strong></li>
    </ul>
    <h4 class="oe_mb16">0.6</h4>
    <ul>
      <li>New components/fields: <strong>number, phoneNumber, email, signature (image), content</strong></li>
    </ul>
    <h4 class="oe_mb16">0.5</h4>
    <ul>
      <li>Annotate <strong>required components</strong>.</li>
      <li>Render not stored (optional and empty) components/fields.</li>
    </ul>
    <h4 class="oe_mb16">0.4</h4>
    <ul>
      <li>
        <strong>Reports configuration per Builder:</strong><br/>
        Show not implemented components/fields (setting and implementation).<br/>
        Improves the feature introduced in version <strong>0.3</strong>.
      </li>
    </ul>
    <h4 class="oe_mb16">0.3</h4>
    <ul>
      <li>Render <strong>not implemented components</strong> (raw data) with a warning.</li>
    </ul>
    <h4 class="oe_mb16">0.2</h4>
    <ul>
      <li>New <strong>select (one, multiple) component</strong>.</li>
      <li>Some layout/design improvements.</li>      
    </ul>
    <h4 class="oe_mb16">0.1</h4>
    <ul>
      <li>Initial version</li>
    </ul>
  </div>
</section>
>>>>>>> upstream/11.0
