<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;"><b>Form Builder & Forms integration</b></h2>
    <h3 class="oe_slogan mb-0">Build easy-to-use, professional and versatile Forms to integrate and collect any information you need for your business.</h3>
  </div>
  <div class="oe_centered">
    <h4 class="oe_mb16 text-center">Compatible with Enterprise and Community</h4>
  </div>
</section>

<section class="oe_container mt-4">
<<<<<<< HEAD
  <div class="row">
    <div class="offset-lg-0 offset-md-1 col-lg-6 col-md-11">
=======
  <div class="oe_row oe_spaced">
    <div class="oe_span6">
      <div class="alert alert-info" style="padding:8px;font-weight:300;font-size:20px;">
	<i class="fa fa-hand-o-right"></i><b> Features: </b>
	<ul class="list-unstyled">
          <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            A powerful <strong>"Drag and drop" Form Builder</strong> in Odoo.
	  </li>
          <li>
            <i class="fa fa-check-square-o text-primary"></i>
            <strong>Start Building Forms</strong> in Odoo.
	  </li>
          <li>
            <i class="fa fa-check-square-o text-primary"></i>
            <strong>Configure and manage Form Builders</strong> in Odoo.
          </li>
          <li>
            <i class="fa fa-check-square-o text-primary"></i>
            Show and open <strong>Form Submissions</strong> in Odoo.
          </li>
          <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            <strong>On-premise</strong> hosting and storage of data (form builders/designs, submissions). So you're under control!
	  </li>
          <li>
	    <i class="fa fa-check-square-o text-primary"></i>
	    After installation of this module you can <strong>start right away</strong> with building and publishing forms.
	  </li>
	  <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            No extra installation and setup requirements are needed.
	  </li>
	  <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            <strong>Translations:</strong> Easy management of translations and translatable terms.
	  </li>
	  <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            Provide <strong>Form-fields with data from Odoo</strong>. For example: a selection/dropdown field where choices are Odoo Products, filtered by some product-category.
	  </li>
          <li>
	    <i class="fa fa-check-square-o text-primary"></i>
            <strong>Open source</strong>, so contributions are welcome.
          </li>
	</ul>
      </div>
    </div>
    <div class="oe_span6">
>>>>>>> upstream/11.0
      <img class="oe_demo oe_picture oe_screenshot" src="intro-screenshot-1.png">
    </div>
    <div class="offset-lg-0 offset-md-1 col-lg-6 col-md-11">
      <img class="oe_demo oe_picture oe_screenshot" src="intro-screenshot-2.png">
    </div>
  </div>
</section>

<section class="oe_container mt-4">
<<<<<<< HEAD
  <h2 class="oe_slogan" style="color:#875A7B;">Features</h2>
  <table class="table table-bordered">
    <colgroup>
       <col span="1" style="width: 35%;">
       <col span="1" style="width: 65%;">
    </colgroup>
    <thead>
      <tr style="background-color: #875A7B; color: #fff;">
        <th>Subject</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Form Builder</strong></td>
        <td>Powerful "drag & drop" Form Builder in Odoo.</td>
      </tr>
      <tr>
        <td><strong>Forms</strong></td>
        <td>
          - Create/start new Forms<br/>
          - Publish Forms e.g. on  portal and website<br/>
          - Assign Form(s) to user and send invitation by mail<br/>
          - Forms Submissions are stored in the Odoo database<br/>
          - View, analyse, use and share Forms (submissions data)<br/>
        </td>
      </tr>
      <tr>
        <td><strong>Highly configurable</strong></td>
        <td>Easily configure your Forms deployment, publishing and other functionalities (done in the Form Builder).</td>
      </tr>
      <tr>
<<<<<<< HEAD
<<<<<<< HEAD
        <td><strong>Integration (ERP, workflow, website, e-commerce)</strong></td>
        <td>
          While building and deploying standalone Forms is enjoyable ...<br/>
          Benefit from real power by integrating Forms with your workflow, ERP, website, e-commerce and other Odoo business apps.<br/>
<<<<<<< HEAD
          Visit the other Forms modules to get a basic idea - Click the author link <strong style="color: #875A7B;">"Nova Code"</strong> in the top. 
=======
          - Implement automated actions to handle Form submissions to integrate with any part of Odoo.<br/>
          - Visit the other Forms modules to get a basic idea of configurable integration modules -- Click the author link <strong style="color: #875A7B;">"Nova Code"</strong> in the top. 
>>>>>>> upstream/13.0
=======
        <td><strong>Integration (ERP, workflow, website)</strong></td>
        <td>
          While building and deploying standalone Forms is enjoyable ...<br/>
          Benefit from real power by integrating Forms with your workflow, ERP, website, e-commerce and other Odoo business apps.<br/>
          Visit the other Forms modules to get a basic idea - Click the author link <strong style="color: #875A7B;">"Nova Code"</strong> in the top. 
>>>>>>> upstream/12.0
=======
        <td><strong>Integration (ERP, workflow, website, e-commerce)</strong></td>
        <td>
          While building and deploying standalone Forms is enjoyable ...<br/>
          Benefit from real power by integrating Forms with your workflow, ERP, website, e-commerce and other Odoo business apps.<br/>
          - Implement automated actions to handle Form submissions to integrate with any part of Odoo.<br/>
          - Visit the other Forms modules to get a basic idea of configurable integration modules -- Click the author link <strong style="color: #875A7B;">"Nova Code"</strong> in the top. 
>>>>>>> upstream/14.0
        </td>
      </tr>
      <tr>
        <td><strong>Populate Form fields with Odoo fields/data</td>
        <td>Example: populate a selection/dropdown field where choices are Odoo Products, filtered by some product-category.</td>
      </tr>
      <tr>
        <td><strong>Multilingual &amp; Translations management</strong></td>
        <td>Forms and Builders are multilingual: Language-switch buttons can be setup. Manage your custom translations (e.g. labels, select choices) in the Form Builder.</td>
      </tr>
      <tr>
        <td><strong>Upgrade-tool formio.js library assets</strong></td>
        <td>Upgrade the formio.js library assets (js, css) when a new version is available, by just a few clicks.</td>
      </tr>
      <tr>
        <td><strong>Developer Friendly</strong></td>
        <td>
          - Extend, customize the Odoo Forms modules.<br/>
          - Develop new Odoo Forms modules.<br/>
          - Develop custom Form components e.g. QR-code scanning, a value slider, reCAPTCHA component (already released as module) etc.
        </td>
      </tr>
      <tr>
<<<<<<< HEAD
=======
        <td><strong>On-premise</strong></td>
        <td>All software and data stays on your server and Odoo database: Form Builders, Form Submissions etc.</td>
      </tr>
      <tr>
>>>>>>> upstream/12.0
        <td><strong>Installation</strong></td>
        <td>After installation you can start right away. No extra technical requirements or setup.</td>
      </tr>
      <tr>
        <td><strong>We <i class="fa fa-heart"/> open source</strong></td>
        <td>
          - LGPL-3 licensed<br/>
          - Issue reports and contributions are welcome on <code>https://github.com/novacode-nl/odoo-formio</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="oe_container mt-4">
  <div class="oe_row oe_centeralign mb32">
    <h2 class="oe_slogan" style="color:#875A7B;">Releases and Changelog</h2>
    <h5>
      <i class="fa fa-github"/> Changelog is available on the GitHub project<br/><br/>
<<<<<<< HEAD
<<<<<<< HEAD
      <code>https://github.com/novacode-nl/odoo-formio/blob/14.0/formio/CHANGELOG.md</code>
=======
      <code>https://github.com/novacode-nl/odoo-formio/blob/13.0/formio/CHANGELOG.md</code>
>>>>>>> upstream/13.0
=======
      <code>https://github.com/novacode-nl/odoo-formio/blob/12.0/formio/CHANGELOG.md</code>
>>>>>>> upstream/12.0
    </h5>
    <h5 class="mt32">
      <i class="fa fa-github"/> Star or subscribe the GitHub project for notifications<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio</code>
    </h5>
  </div>
  <div class="oe_row oe_centeralign mb32">
    <h2 class="oe_slogan" style="color:#875A7B;">User Documentation</h2>
    <h5>
      <i class="fa fa-github"/> User Documentation is available on the GitHub Wiki<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio/wiki</code>
    </h5>
  </div>
  <div class="oe_row oe_centeralign mb16">
    <h2 class="oe_slogan" style="color:#875A7B;">Visit the online Demo</h2>
    <h5>Click the <em>"Live Preview"</em> button in the top.</h5>
    <p class="mt8"><strong>Users</strong> (email / password)</p>
=======
  <div class="oe_row oe_centeralign mb16">
    <h4>Visit the online Demo (Odoo Community v13)</h4>
    <a href="https://demo13.novacode.nl/web/login" target="_blank" class="oe_button oe_big">Demo</a>
    <p class="mt8"><strong>Users</strong> (Email / Password)</p>
>>>>>>> upstream/11.0
    <ul>
      <li>demo / demo</li>
      <li>portal / portal</li>
    </ul>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Form Builders</h2>
    <h3 class="oe_slogan">Configure, design and store in Odoo</h3>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form Builders</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="builder-list.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form Builder Configuration</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="builder-edit.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form Builder</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="builder-formio.png">
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Forms & Submissions</h2>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Create a Form <small>(in Odoo or by hyperlink)</small></h4>
      <img class="oe_demo oe_picture oe_screenshot" src="form-odoo-create.png">
    </div>
    <div class="oe_row_img oe_centered">
<<<<<<< HEAD
      <h4 class="oe_mb16 text-center">Form: Pending</h4>
=======
      <h4 class="oe_mb16 text-center">Form <small>(to fill in)</small></h4>
>>>>>>> upstream/11.0
      <img class="oe_demo oe_picture oe_screenshot" src="form-formio.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form: Completed</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="form-formio-completed.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form: Submission form-view</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="form-details.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Form Submissions</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="form-list.png">
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
<<<<<<< HEAD
    <h2 class="oe_slogan" style="color:#875A7B;">Module configuration</h2>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Settings</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio-config-settings.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">List of Available &amp; Installed formio.js versions </h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio-version-check-install.png">
    </div>
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Download &amp; Install Available formio.js versions</h4>
      <img class="oe_demo oe_picture oe_screenshot" src="formio-version-download-install.png">
    </div>
=======
    <h2 class="oe_slogan" style="color:#875A7B;">Releases</h2>
    <h4 class="oe_mb16">4.5</h4>
    <ul>
      <li>
        Correct misunderstanding, leftover names regarding the formio.js library.
      </li>
    </ul>
    <h4 class="oe_mb16">4.4</h4>
    <ul>
      <li>
        Fix: Issue in Form (form-view) searching Builder(s) really didn't worked properly.<br/>
        Technical details:<br/>
        This change addresses the <code>formio.builder</code>, adding the <code>search</code> method for the computed field <code>display_name_full</code> which is used as <code>_rec_name</code>.
      </li>
    </ul>
    <h4 class="oe_mb16">4.3</h4>
    <ul>
      <li>
        Fix: Forms should be accessible when user belongs to both groups: <em>User: Assigned forms</em> and <em>User: All forms</em><br/>
        Group <em>User: All forms</em> takes precedence over <em>User: Assigned forms</em>.
      </li>
    </ul>
    <h4 class="oe_mb16">4.2</h4>
    <ul>
      <li>
        In the <strong>create Form (form-view)</strong> by default provide only Form Builders <strong>without Resource-model</strong> in the <strong>Form Builder drop-down field</strong>.<br/>
        Specific modules extend this (domain) filter to add appropriate Form Builders related to the (active) Resource-model - e.g. formio_sale, formio_stock.
      </li>
    </ul>
    <h4 class="oe_mb16">4.1</h4>
    <ul>
      <li>
        Improvement: ETL Odoo (resource) data into Form, requires to bypass access control on the target/resource model.<br/>
        (Use <code>sudo</code> here).
      </li>
    </ul>
    <h4 class="oe_mb16">4.0</h4>
    <ul>
      <li>
        Basic setup to deploy/share <strong>public Forms</strong>, by a setting (checkbox) in Form Builder.
      </li>
      <li>
        Implement <strong>sequence field</strong> in <strong>Form</strong>. Usefull when storing and listing forms in an ordered way.
      </li>
      <li>
        New setting (in Form Builder) which instructs the <strong>Form</strong> whether to <strong>show/hide</strong> the <strong>UUID</strong> in Form footer.
      </li>
      <li>
        <strong>Store</strong> those <strong>show/hide</strong> setting fields in the <strong>Form</strong>, instead of joining its relational Builder value (in readonly mode).
      </li>
      <li>
        <strong>Improvements in tree/list and form views</strong> regarding Form and Builder.
      </li>
    </ul>
    <h4 class="oe_mb16">3.7</h4>
    <ul>
      <li>
        New setting (in Form Builder) which instructs the Form whether to <strong>show/hide</strong> the <strong>Title</strong>.
      </li>
      <li>
        Moved the Form Title from the main HTML-document into the embedded document (iframe).<br/>
        This improves the embedded Form experience.
      </li>
    </ul>
    <h4 class="oe_mb16">3.6</h4>
    <ul>
      <li>
        New settings (in Form Builder) which instructs the Form whether to <strong>show/hide</strong> some metadata: <strong>Assigned user, Submission user &amp; date, ID, State</strong>.<br/>
        The default is to show all these metadata fields (for backwards compatibility and no data migration needed).
      </li>
      <li>
        Import formio.js version 3.x assets and bootstrap (CSS) instead of CDN.
      </li>
      <li>
        Fix silly Javascript bug: <code>_.extend</code> (underscore.js ain't loaded here). Use jQuery extend.
      </li>
      <li>
        Add help text regarding issue with (formio.js) and <code>view_as_html</code> setting <a href="https://github.com/formio/formio.js/issues/1545" target="_blank">select component rendering error in viewAsHtml model #1545</a>
      </li>
    </ul>
    <h4 class="oe_mb16">3.5</h4>
    <ul>
      <li>Add formio.js <strong>v4.9.26</strong> assets <code>https://github.com/formio/formio.js/releases/tag/v4.9.26</code></li>
      <li>User in group <em>"Forms Admin"</em> can edit the Form it's submission data, for a new Form (if ain't stored).
    </ul>
    <h4 class="oe_mb16">3.4</h4>
    <ul>
      <li>
        Don't override provided vals in <code>formio.form</code> function <code>_prepare_create_vals()</code>.
      </li>
    </ul>
    <h4 class="oe_mb16">3.3</h4>
    <ul>
      <li>
        New feature: ETL Odoo (resource) data into Form.<br/>
        Supported fields:
        <ul>
          <li>Scalar fields e.g. Char, Text, Integer, Boolean, Date, Datetime</li>
          <li>Many2one field (load it's leaf/scalar field)</li>
          <li>One2many field, supported by formio.js Datagrid component</li>
        </ul>
        (documention and examples shall be added soon)
      </li>
    </ul>
    <h4 class="oe_mb16">3.2</h4>
    <ul>
      <li>
        Optional configuration to allow specific User Group(s) to force update of a <strong>Form state</strong> field (draft, complete, cancel) e.g. by buttons.
        Feature request: <a href="https://github.com/novacode-nl/odoo-formio/issues/36" target="_blank">https://github.com/novacode-nl/odoo-formio/issues/36</a>
      </li>
    </ul>
    <h4 class="oe_mb16">3.1</h4>
    <ul>
      <li>
        Fix portal iframe (height) resizing issue.<br/>
        Issue report: <a href="https://github.com/novacode-nl/odoo-formio/issues/35" target="_blank">https://github.com/novacode-nl/odoo-formio/issues/35</a>
      </li>
    </ul>
    <h4 class="oe_mb16">3.0</h4>
    <ul>
      <li>
        Changed the way <strong>Resource Fields</strong> are determined and stored. Not by dependent/computed fields anymore, which caused all kind of troubles.<br/>
        Affected fields: <code>res_name</code>, <code>res_info</code>, <code>res_act_window_url</code> and <code>res_partner_id</code>.<br/>
        <strong>!! CAUTION, BEFORE UPGRADE: Test first and be sure all Forms data (regarding these fields) has been migrated properly.</strong>
      </li>
    </ul>
    <h4 class="oe_mb16">2.3</h4>
    <ul>
      <li>Form Builder layout improvements: full width, remove horizontal scrollbar.</li>
    </ul>
    <h4 class="oe_mb16">2.2</h4>
    <ul>
      <li>
        Fix (workaround) to solve form height-resizing issues.<br/>
        Issue report: <a href="https://github.com/novacode-nl/odoo-formio/issues/20" target="_blank">https://github.com/novacode-nl/odoo-formio/issues/20</a>
      </li>
    </ul>
    <h4 class="oe_mb16">2.1</h4>
    <ul>
      <li>Add formio.js <strong><a href="https://github.com/formio/formio.js/releases/tag/v4.9.23" target="_blank">v4.9.23</a></strong> assets.</li>
      <li>Remove formio.js "latest" version (CDN URLs). Requests from CDN caused time-outs.</li>
    </ul>
    <h4 class="oe_mb16">2.0</h4>
    <ul>
      <li>
        Odoo formio <strong>view types</strong> for Builder and Form.
        Finally one can switch view types (form, formio) within the window action.
      </li>
      <li>
        Moved the so-called <em>Form dock</em> (info bar) into the iframe. This updates the info on a (iframe) window reload.
      </li>
      <li>
        Remove the <em>submit done url</em> implementation, which is useless in a backend usage/context.
      </li>
      <li>
        Other improvements and simplification.
      </li>
    </ul>
    <h4 class="oe_mb16">1.10</h4>
    <ul>
      <li>
        Extend <code>formio.form create</code> methods with <code>_prepare_create_vals</code> method, which in turn specific modules could call to assign field <code>vals</code>.
      </li>
      <li>
        Fix method <code>compute_res_fields</code> which stores fields regarding the resource model (made possible by change in former point).
      </li>
    </ul>
    <h4 class="oe_mb16">1.9</h4>
    <ul>
      <li>
        Computed fields regarding resource model: Store res_name and res_partner_id. Change dependent compute method.
      </li>
      <li>
        Add (related) field submission partner.
      </li>
    </ul>
    <h4 class="oe_mb16">1.8</h4>
    <ul>
      <li>
        Change URLs and controllers FROM <code>/formio/form/&lt;action&gt;/&lt;string:uuid&gt;</code> URLs TO <code>/formio/form/&lt;string:uuid&gt;/&lt;action&gt;</code>. This solves issues regarding relative URLs from a Formio Javascript perspective (components).
        The UUID was stripped by the formio.js Javascript client API.<br/>
        Should solve: <a href="https://github.com/novacode-nl/odoo-formio/issues/11" target="_blank">https://github.com/novacode-nl/odoo-formio/issues/11</a>
      </li>
      <li>
        Remove 2 legacy (obsolete) controller methods for routes: <code>/formio/form/&lt;string:uuid&gt;</code> and <code>/formio/builder/&lt;int:builder_id&gt;</code>
      </li>
    </ul>
    <h4 class="oe_mb16">1.7</h4>
    <ul>
      <li>
        Prevent Javascript clashes between Odoo and formio.js. Hence remove all Odoo Javascript (assets) loading in the iframe.
      </li>
      <li>
        Add and load standalone JsonRPC client.
      </li>
    </ul>
    <h4 class="oe_mb16">1.6</h4>
    <ul>
      <li>
        Portal: Improved (refactored) controller layout values method.
      </li>
      <li>
        Portal: form buttons now keep query-params.
      </li>
    </ul>
    <h4 class="oe_mb16">1.5</h4>
    <ul>
      <li>
        Demo Builder: Save as Draft (button).
      </li>
      <li>
        Form update to <strong>Draft</strong> fix (workaround). Remove <code>submission_data['submit']</code>.
      </li>
    </ul>
    <h4 class="oe_mb16">1.4</h4>
    <ul>
      <li>
        Include and serve the formio.js library assets (JS, CSS) within the module. Don't use CDN anymore.
      </li>
      <li>
        Click button to display the <strong>Form Builder</strong> in <strong>Full Screen</strong>.
      </li>
    </ul>
    <h4 class="oe_mb16">1.3</h4>
    <ul>
      <li>
        Portal: Improved (refactored) controller layout values method.
      </li>
      <li>
        Portal: form buttons now keep query-params.
      </li>
    </ul>
    <h4 class="oe_mb16">1.2</h4>
    <ul>
      <li>
        Rename (consistency) Builder form-view id/ref: from <code>view_formio_builder</code> to <code>view_formio_builder_form</code>.
      </li>
    </ul>
    <h4 class="oe_mb16">1.1</h4>
    <ul>
      <li>
        Possible "Resource model(s)" needs to be registered from sub-modules e.g. formio_sale.
        Just choosing from all models is useless and confuses the user about its functionality.
      </li>
    </ul>
    <h4 class="oe_mb16">1.0</h4>
    <ul>
      <li>Form embedded in iframe. This avoids clashes (Javascript and CSS) between Odoo and formio.js</li>
      <li>Redesign of view templates</li>
    </ul>
    <h4 class="oe_mb16">0.16</h4>
    <ul>
      <li>Search filters on Form Builder and Forms.</li>
      <li>Assign a user (owner/author/designer) to a Form Builder.</li>
    </ul>
    <h4 class="oe_mb16">0.15</h4>
    <ul>
      <li>Change default forms view to list.</li>
      <li>Improve forms kanban to group by state.</li>
    </ul>
    <h4 class="oe_mb16">0.14</h4>
    <ul>
      <li>Form Builder versioning. Also create a new Builder version-record (from existing one).</li>
    </ul>
    <h4 class="oe_mb16">0.13</h4>
    <ul>
      <li>Form Builder states: Draft (in design), Current (published) and Obsolete (unpublished).</li>
    </ul>
    <h4 class="oe_mb16">0.12</h4>
    <ul>
      <li>Redesign of Builder and Form templates. A simplification and improvement.</li>
      <li>Hopefully fixed enough styling issues due to Bootstrap 4 VS 3 presence (Odoo, form rendering) and differences.</li>
      <li>Other small improvements</li>
    </ul>
    <h4 class="oe_mb16">0.11</h4>
    <ul>
      <li>Include new formio.js versions and assets (3.27.3, 4.0.8)</li>
      <li>Add recommendation into the description of the "latest" formio.js version.</li>
    </ul>
    <h4 class="oe_mb16">0.10</h4>
    <ul>
      <li>Translation system for Form labels, placeholders etc.</li>
      <li>Language selector on Form.</li>      
    </ul>
    <h4 class="oe_mb16">0.9</h4>
    <ul>
      <li>Simple form wizards.</li>
    </ul>
    <h4 class="oe_mb16">0.8</h4>
    <ul>
      <li>Access-check improvements.</li>
      <li>UI improvements.</li>
      <li>Dutch translations.</li>
    </ul>
    <h4 class="oe_mb16">0.7</h4>
    <ul>
      <li>Dropdown button in Portal, to add and fill-in new Form(s).</li>
    </ul>
    <h4 class="oe_mb16">0.6</h4>
    <ul>
      <li>Form state (Pending, In Progress, Complete, Canceled).</li>
      <li>Form is readonly if state is Complete or Canceled.</li>
    </ul>
    <h4 class="oe_mb16">0.5</h4>
    <ul>
      <li>Form invitation mail.</li>
      <li>Improvements regarding form assignment (user filter).</li>
    </ul>
    <h4 class="oe_mb16">0.4</h4>
    <ul>
      <li>Portal User can use forms.</li>
      <li>Restrict access to assigned forms (Portal User, Internal User).</li>
    </ul>
    <h4 class="oe_mb16">0.3</h4>
    <ul>
      <li>Translations system to manage the translatable terms and load into the form.</li>
    </ul>
    <h4 class="oe_mb16">0.2</h4>
    <ul>
      <li>formio.js (library: JS, CSS) version management and loading.</li>
    </ul>
    <h4 class="oe_mb16">0.1</h4>
    <ul>
      <li>Initial version</li>
    </ul>
>>>>>>> upstream/11.0
  </div>
</section>
