.formio.o_control_panel.o_breadcrumb_full {
    position: fixed;
    width: 100%;
}

.formio_form_container {
    margin: 0 auto;
}

.formio_form_iframe_container {
    padding: 16px;
    border: 1px solid #dee2e6;
    background-color: #fff !important;
    background:url('/web/static/lib/select2/select2-spinner.gif') center center no-repeat;
}

.formio_form_iframe_container iframe{
    width: 1px;
    min-width: 100%;
    border: 0;
}
<<<<<<< HEAD

.formio_form_actions a {
    float: left;
    margin: 4px 8px 4px 0;
}
=======
>>>>>>> upstream/11.0
