body {
    margin-right: 12px;
}

<<<<<<< HEAD
#formio_builder_app {
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
}

.formio_languages {
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 4px;
}

.formio_languages button {
    border: 1px solid #d8d8d8;
=======
.formio_builder_embed_container {
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
>>>>>>> upstream/11.0
}
