<<<<<<< HEAD
.o_form_view .o_form_sheet_bg > .formio_builder_container.o_form_sheet {
    max-width: none;
    width: 95%;
=======
.formio_builder_container.o_form_sheet {
    width: 100% !important;
>>>>>>> upstream/11.0
}

.formio_builder_container .formio_builder_dock {
    margin-bottom: 8px;
}

.formio_builder_container .formio_builder_dock * {
    font-size: 14px;
}

.formio_builder_container .formio_builder_dock * {
    font-size: 14px;
}

.formio_builder_container .formio_builder_dock ul {
    list-style: none;
}

.formio_builder_container .formio_builder_dock ul li {
    float: left;
    margin-left: 20px;
}

.formio_builder_container .formio_builder_dock ul li button {
    font-size: 12px;
}

.formio_builder_container .formio_actions {
    clear: both;
    padding-top: 10px;
    margin-bottom: 20px;
}

.formio_builder_iframe_container {
    background:url('/web/static/lib/select2/select2-spinner.gif') center center no-repeat;
}

.formio_builder_iframe_container .row {
    margin: 0;
}

.formio_builder_iframe_container iframe{
    width: 1px;
    min-width: 100%;
    border: 0;
}

@media screen and (max-height: 1440px) {
    .formio_builder_iframe_container iframe{
        height: 840px;
    }
}

@media screen and (max-height: 1200px) {
    .formio_builder_iframe_container iframe{
        height: 760px;
    }
}

@media screen and (max-height: 1024px) {
    .formio_builder_iframe_container iframe{
        height: 680px;
    }
}

@media screen and (max-height: 900px) {
    .formio_builder_iframe_container iframe{
        height: 600px;
    }
}

@media screen and (max-height: 800px) {
    .formio_builder_iframe_container iframe{
        height: 600px;
    }
}

@media screen and (max-height: 768px) {
    .formio_builder_iframe_container iframe{
        height: 480px;
    }
}
