<<<<<<< HEAD
#formio_form_app {
=======
.formio_form_embed_container {
>>>>>>> upstream/11.0
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
    clear: both;
}

.formio_form_dock {
    margin-bottom: .5rem;
}

.formio_form_dock * {
    font-size: 14px;
}

.formio_form_dock ul {
    list-style: none;
}

.formio_form_dock ul li {
    float: left;
    margin-left: 20px;
}

h3.formio_form_title {
    color: #000;
<<<<<<< HEAD
    font-size: 1.5em;
=======
>>>>>>> upstream/11.0
}

.formio_languages {
    clear: both;
    margin-bottom: 20px;
<<<<<<< HEAD
    padding-top: 4px;
=======
>>>>>>> upstream/11.0
    padding-left: 4px;
}

.formio_languages button {
    border: 1px solid #d8d8d8;
}
