<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;"><b>Forms | Mail</b></h2>
    <h3 class="oe_slogan">Send a Form as PDF-file via mail to everyone you want</h3>
    <h3 class="oe_slogan"><small>Custom mail body and subject and unlimited recipients</small></h3>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <div class="oe_row_img oe_centered">
      <h4 class="oe_mb16 text-center">Let users and admins easily send Forms to colleagues, family, business partners and anyone else.</h4>
      <h4 class="oe_mb16 text-center">Available recipients types:</h4>
      <ul>
        <li>
          <strong>Form components</strong><br/>
          Give user the possibility to enter a recipient mail address in a text component or prepare a predefined selection.
        </li>
        <li>
          <strong>Partner mail addresses</strong><br/>
          Admins can select multiple partner entries (contacts) as recipients.
        </li>
        <li>
          <strong>Fixed mail addresses</strong><br/>
          Enter one or multiple mail addresses on form builder as recipient. This is great for shared or group mailboxes.
        </li>
      </ul>
      <img class="oe_demo oe_picture oe_screenshot" src="formio_builder_mail_settings.png">
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="alert alert-info" style="padding:8px;font-weight:300;font-size:20px;">
    <i class="fa fa-hand-o-right"></i><b> Features & Benefits: </b>
    <ul class="list-unstyled">
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        <strong>Out-of-the-box</strong> send a Form as PDF-file to everyone you want.
      </li>
      <li>
      	<i class="fa fa-check-square-o text-primary"></i>
        User's can <strong>easily</strong> specify recipients in the Form.
      </li>
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        Custom <strong>body and subject</strong> text for every Form Builder.
      </li>
      <li>
	<i class="fa fa-check-square-o text-primary"></i>
        <strong>Open source</strong>, so contributions are welcome.
      </li>
    </ul>
  </div>
<<<<<<< HEAD
  
  <div class="oe_row oe_centeralign mb16">
    <h4>Visit the online Demo (Odoo Community v13)</h4>
    <a href="https://demo13.novacode.nl/web/login" target="_blank" class="oe_button oe_big">Demo</a>
    <p class="mt8"><strong>Users</strong> (Email / Password)</p>
    <ul>
      <li>demo / demo</li>
      <li>portal / portal</li>
    </ul>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;"><b>Forms | Mail</b></h2>
    <h4 class="oe_mb16">0.1</h4>
    <ul>
      <li>Initial version</li>
    </ul>
=======
</section>

<section class="oe_container mt-4">
  <div class="oe_row oe_centeralign mb32">
    <h2 class="oe_slogan" style="color:#875A7B;">Releases and Changelog</h2>
    <h5>
      <i class="fa fa-github"/> Changelog is available on the GitHub project<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio/blob/14.0/formio_mail/CHANGELOG.md</code>
    </h5>
    <h5 class="mt32">
      <i class="fa fa-github"/> Star or subscribe the GitHub project for notifications<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio</code>
    </h5>
>>>>>>> upstream/14.0
  </div>
</section>
