<<<<<<< HEAD
.formio_header {
    padding: 4px;
    border-bottom: 1px solid #d8d8d8;
=======
/* Bootstrap */
.mb-2 {
    margin-bottom: 2px;
}
.mb-3 {
    margin-bottom: 3px;
}
.mb-4 {
    margin-bottom: 4px;
}
.mw-100 {
    max-width: 100%;
}

/* Header */
h2 {
    text-align: center;
}
.formio_header {
    padding: 4px;
    border-bottom: 1px solid #d8d8d8;
    .row {
    margin-left: 0;
    margin-right: 0;
    }
>>>>>>> upstream/11.0
}

/* Input components */

.formio_textfield_component p,
.formio_textarea_component p,
.formio_number_component p,
<<<<<<< HEAD
.formio_password_component p,
=======
>>>>>>> upstream/11.0
.formio_select_component div.value_container,
.formio_phoneNumber_component p,
.formio_email_component p,
.formio_date_component p,
.formio_datetime_component p,
.formio_component_not_implemented div.raw_value {
    border: 1px solid #d8d8d8;
    padding: 4px;
    padding-left: 8px;
    min-height: 32px;
}

.formio_textarea_component p {
    min-height: 64px;
}

<<<<<<< HEAD
.formio_password_component i {
    color: #808080;
}

=======
>>>>>>> upstream/11.0
.formio_select_component div span.badge {
    border: 1px solid #d8d8d8;
    margin-right: 4px;
    font-size: 0.9em;
}

<<<<<<< HEAD
/* START formio_day_component */
.formio_day_component > div.row {
    margin-left: 8px;
}

.formio_day_component .date_input {
    border: 1px solid #d8d8d8;
    margin-right: 4px;
    padding: 4px;
}
/* END formio_day_component */

=======
>>>>>>> upstream/11.0
.formio_component_signature_empty {
    border: 1px solid #d8d8d8;
    min-height: 62px;
}

<<<<<<< HEAD
.formio_components .label {
    color: inherit;
    font-size: 100%;
=======
.formio_components{
    margin-top: 15px;
}

.formio_components .label {
    color: inherit;
    font-size: 100%;
    padding: 0;
>>>>>>> upstream/11.0
}

/* Layout components */

.formio_components > table td {
    border: none;
}

.formio_panel_component {
    border: 1px solid #d8d8d8;
}

.formio_panel_component > p {
    padding: 8px;
    background-color: #f0f0f0;
}

.formio_tab_components  {
    border: 1px solid #d8d8d8;
}

.formio_tab_component strong  {
    padding: 2px 4px 6px 4px;
    background-color: #f0f0f0;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.formio_table_component table  {
    width: 100%;
}

/* Component not implemented */

.formio_component_not_implemented small {
    color: #808080;
    font-style: italic;
}
