<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;"><b>Forms | Data API</b></h2>
    <h3 class="oe_slogan">Python API for Forms data (builder, form/submission)</h3>
<<<<<<< HEAD
<<<<<<< HEAD
    <div class="oe_row">
      <h5>Installation Requirements</h5>
      <ul>
        <li>
          PyPi package <strong><code>formio-data</code> (version >= 0.3.6)</strong><br/>
          - Install: <code>pip3 install -U formio-data</code><br/>
          - GitHub project: <code>https://github.com/novacode-nl/python-formio-data</code>
        </li>
      </ul>
    </div>
=======
>>>>>>> upstream/12.0
=======
>>>>>>> upstream/11.0
  </div>
</section>

<section class="oe_container">
<<<<<<< HEAD
  <div class="oe_row oe_centeralign mb32">
    <h2 class="oe_slogan" style="color:#875A7B;">User Documentation</h2>
    <h5>
      <i class="fa fa-github"/> User Documentation is available on the GitHub Wiki<br/><br/>
      <code>https://github.com/novacode-nl/odoo-formio/wiki</code>
    </h5>
  </div>
  <div class="oe_row oe_centeralign mb16">
<<<<<<< HEAD
    <h2 class="oe_slogan" style="color:#875A7B;">Visit the online Demo</h2>
=======
    <h4>Visit the online Demo (Odoo Community v13)</h4>
>>>>>>> upstream/12.0
    <p>Click the <strong>Live Preview</strong> button in the top.</p>
    <p class="mt8"><strong>Users</strong> (email / password)</p>
=======
  <div class="oe_row oe_centeralign mb16">
    <h4>Visit the online Demo (Odoo Community v13)</h4>
    <a href="https://demo13.novacode.nl/web/login" target="_blank" class="oe_button oe_big">Demo</a>
    <p class="mt8"><strong>Users</strong> (Email / Password)</p>
>>>>>>> upstream/11.0
    <ul>
      <li>demo / demo</li>
      <li>portal / portal</li>
    </ul>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Releases</h2>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    <h4 class="oe_mb16">1.8</h4>
    <ul>
      <li>
        Upon Copy of Form Builder, copy the Component Server APIs as well.
      </li>
    </ul>
    <h4 class="oe_mb16">1.7</h4>
    <ul>
      <li>
        Several fixes, especially in ETL of odoo data.
      </li>
    </ul>
>>>>>>> upstream/14.0
    <h4 class="oe_mb16">1.6</h4>
    <ul>
      <li>
        Fix <code>_etl_res_field_value</code> function: incorrect use of safe_eval causes exception.<br/>
        GitHub issue: <code>https://github.com/novacode-nl/odoo-formio/issues/173</code>
      </li>
    </ul>
    <h4 class="oe_mb16">1.5</h4>
    <ul>
      <li>
        Fix ETL (component value) <code>user_field</code>, which didn't traversed relational fields (eg Many2one object).<br/>
        GitHub issue: <code>https://github.com/novacode-nl/odoo-formio/issues/169</code>
      </li>
    </ul>
    <h4 class="oe_mb16">1.4</h4>
    <ul>
      <li>
        Fix <code>formio.form</code> language determination in <code>__getattr__</code> which gets the (Python) <code>formiodata</code> <code>Form</code> object.
      </li>
    </ul>
    <h4 class="oe_mb16">1.3</h4>
    <ul>
      <li>
        Renaming (v1.2) ETL API implementation and usage (prefixes):<br/>
        - FROM: <code>server_value_api</code><br/>
        - TO: <code>server_api</code><br/>
        (!!) This is backwards incompatible and requires to change existing Form Builders which apply this feature since v1.2.
      </li>
    </ul>
    <h4 class="oe_mb16">1.2</h4>
    <ul>
      <li>
        New ETL API feature: Get and set Component Value by Server (Python) Code.
      </li>
    </ul>
    <h4 class="oe_mb16">1.1</h4>
    <ul>
      <li>
        Add global <code>noupdate_form</code> rule in component ETL API.</br>
        This replaces <code>res_field_noupdate_form</code>, introduced in version 1.0.
      </li>
    </ul>
    <h4 class="oe_mb16">1.0</h4>
    <ul>
      <li>
        <strong>MAJOR IMPROVEMENT</strong> of the component ETL API, to load and prefill data from Odoo field(s).<br/>
        This is a major change that greatly improves ease of use, flexibility and new features to come.<br/>
        The previous API/usage (in Property Name, aka the component key) is still supported, but deprecated and logs a DEPRECATION warning.
      </li>
    </ul>
<<<<<<< HEAD
    <h4 class="oe_mb16">0.9</h4>
=======
    <h4 class="oe_mb16">0.8</h4>
>>>>>>> upstream/13.0
=======
    <h4 class="oe_mb16">0.8</h4>
>>>>>>> upstream/12.0
    <ul>
      <li>
        Pass determined (lang) <code>date_format</code> and <code>time_format</code> to the <code>Form</code> object contructor.
      </li>
    </ul>
<<<<<<< HEAD
<<<<<<< HEAD
    <h4 class="oe_mb16">0.8</h4>
=======
    <h4 class="oe_mb16">0.7</h4>
>>>>>>> upstream/13.0
=======
    <h4 class="oe_mb16">0.7</h4>
>>>>>>> upstream/12.0
=======
    <h4 class="oe_mb16">0.7</h4>
>>>>>>> upstream/11.0
    <ul>
      <li>
        New ETL API: <code>OdooUser</code><br/>
        ETL a field from <strong>current user</strong> into the Form.<br/>
        (could also be read as the logged-in user)
      </li>
      <li>
        Change ETL API: <code>Odoo</code><br/>
        This now ETL a field from the Resource model object into the Form, also when Form has <strong>state = DRAFT</strong>.
      </li>
      <li>
        Change ETL API: <code>OdooModel</code><br/>
        ETL a field from the linked <strong>Resource model object</strong> into the Form.<br/>
        (!!) This is backwards incompatible and requires to change existing Form Builders to: <code>OdooModel__model</code>
      </li>
    </ul>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <h4 class="oe_mb16">0.7</h4>
=======
    <h4 class="oe_mb16">0.6</h4>
>>>>>>> upstream/13.0
=======
    <h4 class="oe_mb16">0.6</h4>
>>>>>>> upstream/12.0
=======
    <h4 class="oe_mb16">0.6</h4>
>>>>>>> upstream/11.0
    <ul>
      <li>
        Fix/change due to recent change in the Python <strong>formiodata</strong> library (version: 0.3.0)<br/>
        Change (formiodata) <code>Builder</code> object attr: <code>form_components</code> became <code>input_components</code>
      </li>
    </ul>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <h4 class="oe_mb16">0.6</h4>
    <ul>
      <li>
        New API feature, support for Mail Template:<br/>
        Form model object (<code>formio.form</code>) can now be used in a Mail Template (Jinja template renderer), e.g. to show field value, select choices etc.<br/></br>
        This extends the <em>Mail Render Mixin</em>, because the <em>Jinja Sandbox</em> object doesn't directly allow <code>${object._formio}</code>, which it treats as unsafe and throws an
        exception.<br/><br/>
        USAGE EXAMPLE (where <code>object</code> is a <code>formio.form</code> model object):<br/>
        <code>${formio(object).input.firstName.value}</code>
      </li>
    </ul>
=======
>>>>>>> upstream/13.0
=======
>>>>>>> upstream/12.0
=======
>>>>>>> upstream/11.0
    <h4 class="oe_mb16">0.5</h4>
    <ul>
      <li>
        Remove silly model determination by <code>initial_res_model_id</code>.
        The current model is always stored and present in <code>res_model_id</code>.
      </li>
    </ul>
    </ul>
    <h4 class="oe_mb16">0.4</h4>
    <ul>
      <li>
        New API feature <code>OdooModel</code><br/>
        ETL the Odoo model name into Forms (API Property Name: <code>OdooModel</code>).
      </li>
    </ul>
    <h4 class="oe_mb16">0.3</h4>
    <ul>
      <li>
        Change ETL Odoo field-data (API): field delimter from "." to "__" (2 underscores).<br/>
        - A dot "." results in undesired submission data, due to the formio Javascript library/API.
        - A dash is allowed, however causing issues with the ETL module (formio_etl).
      </li>
    </ul>
    <h4 class="oe_mb16">0.2</h4>
    <ul>
      <li>
        New API features <code>Odoo</code> and <code>OdooRF</code><br/>
        ETL Odoo field-data into Forms.
      </li>
    </ul>
    <h4 class="oe_mb16">0.1</h4>
    <ul>
      <li>Initial version</li>
    </ul>
  </div>
</section>
